<div class="header">
    <div>
    <i id="icon" class="fa-solid fa-heart"></i>
    </div>
    <div class="heading">
        <h2>Flat Theme</h2>
    </div>
    <div class="list">
        <ul class="list1">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>
