*{
    margin: 0px;
    padding:0px;
}
body{
    background-image: linear-gradient(rgb(140, 123, 220),rgb(141, 136, 163),rgb(156, 150, 192));
    height: 100vh;
   
}
h1{
    margin: 20px;
    text-align: center;
    color: rgb(21, 97, 72);
}
section{
    /* display: block; */
    width:600%;
    height:550px;
    margin-left: 400px;
    /* margin:25px auto; */
    transition: 0.3s;
}